.flexrow-mixin {
  display: flex;
  justify-content: space-evenly;
}
.flexcolumn-mixin {
  display: flex;
  flex-direction: column;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html body {
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-weight: Regular;
  line-height: 2.4rem;
  font-size: 1.6rem;
}
.header {
  background-color: #828282;
  border: 1px solid red;
  color: #FFFFFF;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.header .hamburger-closed {
  display: none;
}
.header .menu-options {
  display: none;
}
.header .title {
  border: 2px dashed purple;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.4rem;
  font-weight: Bold;
}
.header .menu {
  width: 25%;
  border: 2px dashed purple;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .menu .hamburger-open {
  padding-left: 10rem;
}
.watermark {
  width: 100%;
  border: 2px dashed purple;
  position: relative;
  text-align: left;
  color: #FFFFFF;
}
.watermark .motto {
  position: absolute;
  bottom: 7rem;
  left: 7rem;
  font-size: 6.4rem;
  line-height: 7.5rem;
  font-weight: Bold;
}
.watermark .banner-img {
  width: 100%;
}
.watermark .banner-img .jumbotron {
  width: 100%;
}
.rowContentOne {
  display: flex;
  justify-content: space-evenly;
  border: 2px dashed purple;
  flex-wrap: wrap;
}
.rowContentOne .boxArchitects {
  border: 2px dashed green;
  margin-bottom: 9rem;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rowContentOne .boxArchitects .button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  color: black;
  padding: 15px 30px;
  width: 50%;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.rowContentOne .boxArchitects .architectsText {
  width: 50%;
  line-height: 2.4rem;
  font-weight: Regular;
  font-size: 1.6rem;
  padding: 0 6%;
  border: 2px dashed purple;
}
.rowContentOne .boxArchitects .penAndPaperContainer {
  width: 45%;
  border: 2px dashed purple;
}
.rowContentOne .boxArchitects .penAndPaperContainer .penAndPaper {
  width: 100%;
}
.rowContentOne .boxArchitects h3 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.rowContentOne .boxArchitects p {
  margin-bottom: 1.5rem;
}
.rowContentOne .boxDesign {
  border: 2px dashed green;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rowContentOne .boxDesign .button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  color: black;
  padding: 15px 30px;
  width: 50%;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.rowContentOne .boxDesign .designText {
  width: 50%;
  line-height: 2.4rem;
  font-weight: Regular;
  font-size: 1.6rem;
  padding: 0 6%;
  border: 2px dashed purple;
}
.rowContentOne .boxDesign .horizonContainer {
  width: 50%;
  border: 2px dashed purple;
}
.rowContentOne .boxDesign .horizonContainer .horizon {
  width: 100%;
}
.rowContentOne .boxDesign h3 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.rowContentOne .boxDesign p {
  margin-bottom: 1.5rem;
}
.projectHeader {
  width: 80%;
  font-size: 2.8rem;
  font-weight: Bold;
  color: #222222;
  margin-left: 15rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}
.projects {
  display: flex;
  flex-direction: column;
  border: 2px dashed purple;
  align-items: center;
}
.projects .villa-project {
  border: 2px solid blue;
  width: 80%;
}
.projects .villa-project .villasImg {
  width: 100%;
}
.projects .villa-project .villa-header {
  position: relative;
}
.projects .villa-project .villa-header .villasBox {
  position: absolute;
  bottom: -30px;
  right: 0px;
  color: #222222;
  font-size: 2.8rem;
  border: 1px solid #828282;
  padding: 30px 100px;
  background-color: #828282;
}
.projects .villa-project .villa-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 4rem;
}
.projects .villa-project .villa-text p {
  margin: 2rem 0;
}
.projects .outskirts-project {
  border: 2px solid blue;
  width: 80%;
}
.projects .outskirts-project .outskirtsImg {
  width: 100%;
}
.projects .outskirts-project .outskirts-header {
  position: relative;
}
.projects .outskirts-project .outskirts-header .outskirtsBox {
  position: absolute;
  bottom: -30px;
  right: 0px;
  color: #222222;
  font-size: 2.8rem;
  border: 1px solid #828282;
  padding: 30px 100px;
  background-color: #828282;
}
.projects .outskirts-project .outskirts-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 4rem;
}
.projects .outskirts-project .outskirts-text p {
  margin: 2rem 0;
}
.projects .blocks-project {
  border: 2px solid blue;
  width: 80%;
}
.projects .blocks-project .blocksImg {
  width: 100%;
}
.projects .blocks-project .blocks-header {
  position: relative;
}
.projects .blocks-project .blocks-header .blocksBox {
  position: absolute;
  bottom: -30px;
  right: 0px;
  color: #222222;
  font-size: 2.8rem;
  border: 1px solid #828282;
  padding: 30px 100px;
  background-color: #828282;
}
.projects .blocks-project .blocks-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 4rem;
}
.projects .blocks-project .blocks-text p {
  margin: 2rem 0;
}
.footer {
  background-color: #828282;
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
}
.footer .emailAddress {
  line-height: 2.4rem;
  width: 85%;
}
.footer span {
  font-weight: bold;
  font-size: 2.2rem;
}
.footer h4 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
}
.footer li {
  font-size: 1.4rem;
}
.footer p {
  line-height: 2.6rem;
}
.footer .footerContainer {
  line-height: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.footer .copyright {
  margin-left: 40%;
  padding-top: 1.8rem;
}
